*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#f2f7f7;
}

.dashboard{
  display:flex;
  min-height:100vh;
}

/* SIDEBAR */
.sidebar{
  width:260px;
  background:#0b3c49;
  color:#fff;
  padding:25px;
}

.logo{
  font-size:20px;
  font-weight:600;
  margin-bottom:30px;
}

.sidebar ul{
  list-style:none;
}

.sidebar li{
  padding:14px;
  margin-bottom:8px;
  border-radius:8px;
  cursor:pointer;
}

.sidebar li:hover,
.sidebar li.active{
  background:#155d6d;
}

.logout{
  margin-top:30px;
  background:#842029;
}

/* MAIN */
.main{
  flex:1;
  padding:30px;
}

/* TOPBAR */
.topbar{
  margin-bottom:30px;
}

.topbar h1{
  color:#0b3c49;
}

.sub{
  color:#777;
  font-size:14px;
}

/* STATS */
.stats{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}

.stat-card{
  background:white;
  padding:28px;
  border-radius:14px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.stat-card h3{
  font-size:34px;
  color:#0b3c49;
}

.stat-card.alert h3{
  color:#c0392b;
}

/* PANELS */
.grid{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:25px;
  margin-top:35px;
}

.panel{
  background:white;
  padding:22px;
  border-radius:14px;
}

.panel h2{
  margin-bottom:15px;
  color:#0b3c49;
}

.row{
  padding:10px 0;
  border-bottom:1px solid #eee;
}

button{
  width:100%;
  padding:12px;
  margin-bottom:10px;
  border:none;
  border-radius:8px;
  background:#0b3c49;
  color:white;
  cursor:pointer;
}

button:hover{
  background:#155d6d;
}

/* RESPONSIVE */
@media(max-width:768px){
  .dashboard{
    flex-direction:column;
  }

  .grid{
    grid-template-columns:1fr;
  }

  .sidebar{
    width:100%;
  }
}
